{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "plugins": ["prettier"],
  "rules": {
    "no-console": ["warn", { "allow": ["info", "warn", "error"] }],
    "react/jsx-filename-extension": [
      "error",
      { "extensions": [".js", ".jsx"] }
    ],
    "react/react-in-jsx-scope": ["off"],
    "prettier/prettier": "error",
    "jsx-a11y/anchor-is-valid": 0,
    "jsx-a11y/label-has-for": 0,
    "react/prop-types": 0,
    "no-plusplus": 0,
    "prefer-template": 0
  }
}